.App {
  max-width: 850px;
  margin: 0 auto;  
  text-align: center;
  padding: 12px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Overrides */
select {
  display: inline-block;
  height: 35px;
}

.add-task-container {
  position: relative;
  padding-right: 50px;
}

.btn-floating {
  position: absolute;
  right: 0;
}

.waves-effect {
  margin: 0 6px;
}

.item-actions {
  display: flex;
  align-items: center;
}

.actions-section {
  text-align: left;
  margin-top: 25px;
}

.action-section .waves-effect {
  margin: 0 0 6px;
}

.summary-section {
  text-align: left;
  font-size: 21px;
}
